# Clojure
/target/
/classes/
/*.jar
/.lein-*
/.nrepl-port
/.cpcache/

# clj-kondo
.clj-kondo/.cache/

# Editor
*.swp
*.swo
*~
.idea/
*.iml
.vscode/
.calva/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
